fig1/fiji_55deg_Z_max3_.pdf
fig1/fiji_55deg_Z_max3_.png
fig1/fiji_55deg_Z_max5_time_.pdf
fig1/fiji_55deg_Z_max5_time_.png
fig1/inventory_big_fiji.xml
fig2/mx6.6_3phases_az80.pdf
fig2/mx6.6_3phases_az80.png
fig2/mx6.6_3phases_dist_210.pdf
fig2/mx6.6_3phases_dist_210.png
fig3/bb_Mw6.6Brazil.pdf
fig3/bb_Mw6.6Brazil.png
fig3/bb_amp_phases_d210.pdf
fig3/bb_amp_phases_d210.png
fig4/attributes_july28.pdf
fig4/attributes_july28.png
fig6/geoc_dist_d.pdf
fig6/geoc_time_d.pdf
fig6/geod_geoc_dist_d.pdf
fig6/geod_geoc_time_d.pdf
supplementary_figs/paths_S.svg
supplementary_figs/taup_refltrans.svg
supplementary_figs/wavefront.svg

